
<header>
  <div id="brand"><a routerLink="/"><img src="assets/images/logoclock.png" alt="logo resembling a clock"></a></div>

  <div *ngIf="screenWidth > maxScreenWidth; else mobileHeaderView">
    <nav>
      <ul>
        <ng-container *ngTemplateOutlet="navListElements"></ng-container>
      </ul>
    </nav>
  </div>

</header>

<ng-template #mobileHeaderView>
  <div id="hamburger-icon" (click)="toggleMobileMenu($event)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>

    <ul class="mobile-menu">
      <ng-container *ngTemplateOutlet="navListElements"></ng-container>
    </ul>
    
  </div>
</ng-template>

<ng-template #navListElements>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="">Projects</a></li>
  <li><a routerLink="">Music</a></li>
  <li><a routerLink="">About me</a></li>
</ng-template>


<!-- <div *ngIf="screenWidth > 600; else smaller">
  <p>big</p>
</div>

<ng-template #smaller>
  <p>small</p>
</ng-template> -->

<router-outlet></router-outlet>
