/* You can add global styles to this file, and also import other style files */
html {
    background-color: #222;
}
body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 800px; /* Adjust the value based on your design */
    width: 100%;
    margin: auto;
    height: 100vh; /* For portrait orientation */
  
    /* Media query for landscape orientation */
    @media screen and (orientation: landscape) {
      height: auto; /* Allow the height to adjust based on content */
    }
  }
  
  
  