/* You can add global styles to this file, and also import other style files */
html {
    background-color: #222;
}
body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 800px; /* Can adjust this for width of body */
    width: 100%;
    margin: auto;
    height: auto;
  }
  
  
  